/* PackageManager.css */

.package-manager {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  margin-top: 20px;
}

input {
  display: block;
  width: calc(100% - 22px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #f5a623;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 9999px;
  font-size: 18px;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;}

button:hover {
  background-color:  #f5a623;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 0;
}

li span {
  flex: 1;
}

li button {
  margin-left: 5px;
}

.package-form {
  margin-bottom: 20px;
}

.edit-form {
  margin-top: 20px;
}

.package-list {
  margin-top: 20px;
}
